@media (max-width: 1200px) {
    p {
        color: rgb(60, 76, 92);
      }
  }
  
  @media (max-width: 992px) {
    p {
        color: lightslategray;
      }
  }
  
  @media (max-width: 768px) {
    p {
        color: rgb(209, 217, 224);
      }
  }

   /* .container{
    background-image: url("./Assets/roof.jpg");
    background-position: center;
    background-size: cover;
  } */
  .splash{
    background-image: url("./Assets/roof.jpg");
    background-position: center;
    background-size: cover;
    cursor : pointer;
    position : fixed;
    top : 50%;
    left : 50%;
    height : 100%;
    width : 100%;
    transform : translate(-50%,-50%);    
    transition : all ease-in-out 1600ms;
  }

  body {
    background-image: url("./Assets/roof.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 50px;
    color: red;
}
