

@media (max-width: 1200px) {
    p {
        color: rgb(60, 76, 92);
      }
  }
  

  @media (max-width: 992px) {
  img#flag {
  display: none;
  }
  .body {
    background-color: rgb(rgb(46, 76, 100), green, blue);
  }}
  

  @media (max-width: 768px) {
    .body {
      background-color: rgb(rgb(46, 76, 100), green, blue);
    }
    img#flag {
      display: none;
      }
}


.header {
    position: center;
    grid-area: header;
    color: red;
    font-size: 28px;
}

.main {
    font-size: 15px;
    text-align: center;
    grid-area: main;
}

.flagRight {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

.flagLeft {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

body {
    /* background-image: url("./Assets/roof.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */


    background-color: rgb(141, 27, 27);
    display: grid;
    text-align: center;
    grid-template-columns: "auto auto auto";
    grid-template-rows: "auto auto auto";
    grid-template-areas: "header header header" "flagLeft main flagRight";
}

button:hover {
  border: 2px solid #000201;
  background: #df0b0b;
  transition-duration: 2s;
 
}

