

@media (max-width: 1200px) {
    p {
        color: rgb(60, 76, 92);
      }
  }
  

  @media (max-width: 992px) {
  img#flag {
  display: none;
  }
  .header {
    background-color: rgb(rgb(46, 76, 100), green, blue);
  }}
  

  @media (max-width: 768px) {
    .main {
      background-color: rgb(rgb(46, 76, 100), green, blue);
    }
    img#flag {
      display: none;
      }
}





  .header {
    position: center;
    grid-area: header;
    color: red;
    font-size: 30px;
}

.main {
    text-align: center;
    grid-area: main;
}

.flagRight {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

.flagLeft {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

body {
    background-color: tomato;
    /* background-image: url("./Assets/roof.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    background-color: whitesmoke;
    display: grid;
    text-align: center;
    grid-template-columns: "auto auto auto";
    grid-template-rows: "auto auto auto";
    grid-template-areas: "header header header" "aside main previous";
}